<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bnb</title>

    <link rel="stylesheet" href="../css/style.css   ">
</head>
<body>
    <header>
        <nav></nav>
        <div class="header">
            <h1>Vintage Accomodation</h1>
        </div>
    </header>
    <aside>
        <section class="aside-container">
            <div class="img-holder">
                <img src="../imgs/kitchen-1170x785.jpeg" alt="kitchen pic">
            </div>
        </section>
        <section class="aside-container">
            <div class="img-holder">
                <img src="../imgs/diner-1170x785.jpeg" alt="kitchen pic">
            </div>
        </section>
    </aside>
    <main>
        <div class="description">
            <h3>Description</h3>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sint consequuntur non repudiandae facilis. Eaque adipisci eius facilis deserunt? Incidunt magni repellat ipsum natus deleniti iusto corporis, harum similique dicta.              
            </p>
        </div>
        <section>
            <div class="form-wrapper">
                <h4 class="form-title">Reservation Form</h4>
                <form class="book-form">
                    <div class="book-form-content">
                        <span class="input-fields">
                            <label>Name</label>
                            <input type="text" placeholder="username" id="username" name="name">
                        </span>
                        <span class="input-fields">
                            <label>Email</label>
                            <input type="email" placeholder="name@example.com"
                            id="useremail" name="email">
                        </span>
                        <span class="input-fields">
                            <label>Phone</label>
                            <input type="text" placeholder="+254798765432" id="phone" name="phone">
                        </span>
                        <span class="input-fields">
                            <label>Gender:</label>
                            <input type="radio" id="gender" name="gender" value="male">
                            <label>Male</label>
                            <input type="radio" id="gender" name="gender" value="female">
                            <label>Female</label>
                            <br>
                        </span>
                        <span class="input-fields">
                            <span>
                                <label for="dateinput">Check In</label>
                                <input type="date" id="dateinput" name="dateinput" required>
                            </span>
                            <span>
                                <label>Nights:</label>
                                <select name="nightsnumber" id="nightsnumber">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                        </span>
                    </div>
                    <span class="t-n-cs">
                        <input type="checkbox" id="tnc" name="tnc" value="true"/>
                        <label>I accept terms and conditions!</label>
                    </span>
                    <div class="submit-btn">
                        <input type="submit" value="Reserve">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="rights">
            <span>Vintage Accomodation</span>
            <span>copyright &copy; 2023</span>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>
